header{
    background-image: url("../images/banners/ellie-the-last-of-us-banner.jpg");
}

.video-container{
    text-align: center;
    padding: 30px 0px;
}

.video-container iframe{
    margin: 0px 20px;
    width: 100%;
}

@media only screen and (max-width: 600px){
    .video-container iframe{
        margin: 20px 0px;
    }
}